html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: rgba(141, 180, 178, 0.7) url("img_1.jpg");
    margin-bottom: 60px;
    position: relative;
}